<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultDatabase" connectionString="data source=SF01;User ID =sa;Password =12345678;initial catalog=ConvertDB;integrated security=True;MultipleActiveResultSets=True;Trusted_Connection=True;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>